.naviBar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D70026;
}

#logo {
    display: block;
    height: 10vh;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.naviElement {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Major Mono Display', monospace;
}
