
<div class="container">
  <h1>Abstimmung Jahreszeiten</h1>
  <p>Gleich vorweg. Diese Website dient mehr mir selbst zu zeigen was ich jetzt schon kann. Bei dem folgenden Beispiel möchte ich das DU abstimmst was deine Lieblingsjahreszeit ist. Die Webanwendung
    bemerkt deine Wahl und speichert sie auf einer Datenbank. Die Buttons verschwinden und ein Balkendiagramm aus allen bisherigen Abstimmungen werden geladen. Also los probier es!
  </p>
  <app-voteGraph [votes]="votes"></app-voteGraph>
</div>