<style>
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
</style>
 
<div class="startContainer"> 

  <div [@heartbeat]="heartBeating ? 'big' : 'small'" class="soItContainer">
    <h1>soIT</h1>
  </div>

  <div class="textContainer">
    <h1 [@textswithing] *ngIf="welcomeText == startTexts[0]">{{welcomeText}}</h1>
    <h1 [@textswithing] *ngIf="welcomeText == startTexts[1]">{{welcomeText}}</h1>
    <h1 [@textswithing] *ngIf="welcomeText == startTexts[2]">{{welcomeText}}</h1>
  </div>

</div>